html{
    background-image: url("https://wallpapers.com/images/high/cute-space-1ciddrzj8h1cfee5.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body{
    font-family: 'Play', sans-serif;
    margin:auto;
    text-align: center;
    /*background-color: rgb(0, 0, 0);*/
    color: white;
}



#mary {
    margin: 250px 200px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(81, 75, 75, 0.8);
    border-radius: 10px;
    text-align: left;
    display: flex;
}

.mary1 h1{
    margin: 30px auto;
    padding: 30px 30px;
    text-align: right;
}

.mary1 p{
    margin: 30px 30px;
    padding: 20px 20px;
    text-align: right;
}

.mary2 img{
    height: 200px;
    width: auto;
    position: static;
    border-radius: 100px;
}

#logo img{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 10px 5px 10px 5px;
    padding: 10px 10px;
}

#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing:border-box;
    border: 10px solid rgb(0, 0, 0);
}

#grab ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width:300px;
    font-weight: bold;

}

/*footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(81, 75, 75, 0.8);
    margin-top: 350px;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
}*/

.Manage img{
    height: 50px;
    width: 50px;
    border-radius: 200px;
}

#port{
    color: rgb(255, 255, 255);
    padding: 50px ;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: 250px 200px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(81, 75, 75, 0.8);
    border-radius: 10px;
    text-align: left;
}


#ports1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ports2 {
    padding: 30px 50px 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #c2bebe, #ede8e8);
    text-align: left;
    list-style-type: none;
}

.ports2 a{
    text-decoration: none;
}

.ports3 {
    padding: 30px 50px 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #c2bebe, #ede8e8);
    text-align: left;
    list-style-type: none;
}

.ports3 a{
    text-decoration: none;
}

.ports4 {
    padding: 30px 50px 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #c2bebe, #ede8e8);
    text-align: left;
    list-style-type: none;
}

.ports4 a{
    text-decoration: none;
}

.ports5 {
    padding: 30px 50px 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #c2bebe, #ede8e8);
    text-align: left;
    list-style-type: none;
}

.ports5 a{
    text-decoration: none;
}

.ports6 {
    padding: 30px 50px 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #c2bebe, #ede8e8);
    text-align: left;
    list-style-type: none;
}

.ports6 a{
    text-decoration: none;
}

.ports7 {
    padding: 30px 50px 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #c2bebe, #ede8e8);
    text-align: left;
    list-style-type: none;
}

.ports7 a{
    text-decoration: none;
}





